// Variables
$website-width: 1280px;
$main-color: #104bee;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/mohammad-alizade-IKNzcgrWfg8-unsplash.jpg');
// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
